.App {
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

.smurf-form {
    display: flex;
    justify-content: center;
    margin: 4% 0;
    border: 1px solid black;
}

input {
    border: none;
    width: 60%;
    border-bottom: 1px solid black;
    height: 25px;
}

button {
  width: 50%;
  margin: 4% 0;
  background: white;
  color: black;
  border: 1px solid black;
  height: 40px;
}

.smurf {
  margin: 4% auto;
  border: 1px solid black;
}